atlas/main/default/flows/Carrier_Flag_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- Carrier_Flag_Approval — Screen Flow
     Invoked as a Quick Action from the Carrier record page.
     Allows an agent to submit a fraud flag (blacklist/double broker/stolen load).
     Creates Carrier_Flag_History__c pending supervisor approval.
     A separate Approval Process (configured in Setup) handles the supervisor step.
-->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Screen flow to submit a carrier fraud flag for supervisor review. Creates Carrier_Flag_History__c with Pending Approval status.</description>
    <label>Atlas - Flag Carrier (Fraud Report)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>Flow</processType>

    <!-- Input: Carrier record Id passed in from Quick Action -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>Flag_Type_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>Flag_Reason_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Flag_Input_Screen</targetReference>
        </connector>
    </start>

    <!-- Screen: Collect flag details from agent -->
    <screens>
        <name>Flag_Input_Screen</name>
        <label>Report Carrier Issue</label>
        <locationX>176</locationX>
        <locationY>176</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Flag_Type_Input</name>
            <choiceReferences>FlagType_Blacklist</choiceReferences>
            <choiceReferences>FlagType_DoubleBroker</choiceReferences>
            <choiceReferences>FlagType_StolenLoad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flag Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Flag_Type_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Flag_Reason_Input</name>
            <dataType>String</dataType>
            <fieldText>Reason / Evidence</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <helpText>Provide specific details: load number, dates, documentation, or any evidence of fraud.</helpText>
            <outputParameters>
                <assignToReference>Flag_Reason_Value</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <connector>
            <targetReference>Create_Flag_History_Record</targetReference>
        </connector>
    </screens>

    <!-- Choices for Flag Type -->
    <choices>
        <name>FlagType_Blacklist</name>
        <choiceText>Blacklist Request</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Blacklist</stringValue></value>
    </choices>
    <choices>
        <name>FlagType_DoubleBroker</name>
        <choiceText>Double Brokering</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Double Broker</stringValue></value>
    </choices>
    <choices>
        <name>FlagType_StolenLoad</name>
        <choiceText>Stolen Load</choiceText>
        <dataType>String</dataType>
        <value><stringValue>Stolen Load</stringValue></value>
    </choices>

    <!-- Create Carrier_Flag_History__c pending supervisor approval -->
    <recordCreates>
        <name>Create_Flag_History_Record</name>
        <label>Create Flag History Record</label>
        <locationX>176</locationX>
        <locationY>296</locationY>
        <inputAssignments>
            <field>Carrier__c</field>
            <value><elementReference>recordId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Flag_Type__c</field>
            <value><elementReference>Flag_Type_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value><elementReference>Flag_Reason_Value</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Flagged_By__c</field>
            <value><elementReference>$User.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value><stringValue>Pending Approval</stringValue></value>
        </inputAssignments>
        <object>Carrier_Flag_History__c</object>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </recordCreates>

    <!-- Confirmation screen -->
    <screens>
        <name>Confirmation_Screen</name>
        <label>Flag Submitted</label>
        <locationX>176</locationX>
        <locationY>416</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;Your fraud flag has been submitted for supervisor review.&lt;/p&gt;
&lt;p&gt;A supervisor will review the flag and take action. The carrier will be blocked from bookings pending approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <status>Active</status>
</Flow>
